@model dynamic
@{
    ViewData["Title"] = "Grades";
}
@inject UserManager<IdentityUser> UserManager

<table class="table">
    <tbody>
    <tr>
    <td><h2>Year 1 Semester 1</h2></td>
    </tr>
        @foreach (Subject subject in Model.Subjects)
        {
            @if (subject.YearOfStudy == 1)
            {
                @if (subject.Semester == 1)
                {
                    <tr>
                        <td style="width:33%">
                            @Html.DisplayFor(modelItem => subject.Name)
                        </td>
                        <td style="width:33%">
                            @Html.DisplayFor(modelItem => subject.Type)
                        </td>
                        <td>
                            @foreach (Grade grade in Model.Grades)
                            {
                                @if (grade.SubjectId == subject.SubjectId)
                                {
                                    @Html.DisplayFor(modelItem => grade.GradeValue)
                                }
                            }
                        </td>
                    </tr>
                }
            }
        }
        <tr>
            <td><h2>Year 1 Semester 2</h2></td>
        </tr>
        @foreach (Subject subject in Model.Subjects)
        {
            @if (subject.YearOfStudy == 1)
            {
                @if (subject.Semester == 2)
                {
                    <tr>
                        <td style="width:33%">
                            @Html.DisplayFor(modelItem => subject.Name)
                        </td>
                        <td style="width:33%">
                            @Html.DisplayFor(modelItem => subject.Type)
                        </td>
                        <td>
                            @foreach (Grade grade in Model.Grades)
                            {
                                @if (grade.SubjectId == subject.SubjectId)
                                {
                                    @Html.DisplayFor(modelItem => grade.GradeValue)
                                }
                            }
                        </td>
                    </tr>
                }
            }
        }
        <tr>
            <td><h2>Year 2 Semester 1</h2></td>
        </tr>
        @foreach (Subject subject in Model.Subjects)
        {
            @if (subject.YearOfStudy == 2)
            {
                @if (subject.Semester == 1)
                {
                    <tr>
                        <td style="width:33%">
                            @Html.DisplayFor(modelItem => subject.Name)
                        </td>
                        <td style="width:33%">
                            @Html.DisplayFor(modelItem => subject.Type)
                        </td>
                        <td>
                            @foreach (Grade grade in Model.Grades)
                            {
                                @if (grade.SubjectId == subject.SubjectId)
                                {
                                    @Html.DisplayFor(modelItem => grade.GradeValue)
                                }
                            }
                        </td>
                    </tr>
                }
            }
        }
        <tr>
            <td><h2>Year 2 Semester 2</h2></td>
        </tr>
        @foreach (Subject subject in Model.Subjects)
        {
            @if (subject.YearOfStudy == 2)
            {
                @if (subject.Semester == 2)
                {
                    <tr>
                        <td style="width:33%">
                            @Html.DisplayFor(modelItem => subject.Name)
                        </td>
                        <td style="width:33%">
                            @Html.DisplayFor(modelItem => subject.Type)
                        </td>
                        <td>
                            @foreach (Grade grade in Model.Grades)
                            {
                                @if (grade.SubjectId == subject.SubjectId)
                                {
                                    @Html.DisplayFor(modelItem => grade.GradeValue)
                                }
                            }
                        </td>
                    </tr>
                }
            }   
        }
        <tr>
            <td><h2>Year 3 Semester 1</h2></td>
        </tr>
        @foreach (Subject subject in Model.Subjects)
        {
            @if (subject.YearOfStudy == 3)
            {
                @if (subject.Semester == 1)
                {
                    <tr>
                        <td style="width:33%">
                            @Html.DisplayFor(modelItem => subject.Name)
                        </td>
                        <td style="width:33%">
                            @Html.DisplayFor(modelItem => subject.Type)
                        </td>
                        <td>
                            @foreach (Grade grade in Model.Grades)
                            {
                                @if (grade.SubjectId == subject.SubjectId)
                                {
                                    @Html.DisplayFor(modelItem => grade.GradeValue)
                                }
                            }
                        </td>
                    </tr>
                }
            }   
        }
        <tr>
            <td><h2>Year 3 Semester 2</h2></td>
        </tr>
        @foreach (Subject subject in Model.Subjects)
        {
            @if (subject.YearOfStudy == 3)
            {
                @if (subject.Semester == 2)
                {
                    <tr>
                        <td style="width:33%">
                            @Html.DisplayFor(modelItem => subject.Name)
                        </td>
                        <td style="width:33%">
                            @Html.DisplayFor(modelItem => subject.Type)
                        </td>
                        <td>
                            @foreach (Grade grade in Model.Grades)
                            {
                                @if (grade.SubjectId == subject.SubjectId)
                                {
                                    @Html.DisplayFor(modelItem => grade.GradeValue)
                                }
                            }
                        </td>
                    </tr>
                }
            }   
        }
        <tr>
            <td><h2>Year 4 Semester 1</h2></td>
        </tr>
        @foreach (Subject subject in Model.Subjects)
        {
            @if (subject.YearOfStudy == 4)
            {
                @if (subject.Semester == 1)
                {
                    <tr>
                        <td style="width:33%">
                            @Html.DisplayFor(modelItem => subject.Name)
                        </td>
                        <td style="width:33%">
                            @Html.DisplayFor(modelItem => subject.Type)
                        </td>
                        <td>
                            @foreach (Grade grade in Model.Grades)
                            {
                                @if (grade.SubjectId == subject.SubjectId)
                                {
                                    @Html.DisplayFor(modelItem => grade.GradeValue)
                                }
                            }
                        </td>
                    </tr>
                }
            }   
        }
        <tr>
            <td><h2>Year 4 Semester 2</h2></td>
        </tr>
        @foreach (Subject subject in Model.Subjects)
        {
            @if (subject.YearOfStudy == 4)
            {
                @if (subject.Semester == 2)
                {
                    <tr>
                        <td style="width:33%">
                            @Html.DisplayFor(modelItem => subject.Name)
                        </td>
                        <td style="width:33%">
                            @Html.DisplayFor(modelItem => subject.Type)
                        </td>
                        <td>
                            @foreach (Grade grade in Model.Grades)
                            {
                                @if (grade.SubjectId == subject.SubjectId)
                                {
                                    @Html.DisplayFor(modelItem => grade.GradeValue)
                                }
                            }
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>
